# Integrity Check
1. <dl>
  <dt>Domain Integrity</dt>
  <dd>Specifies that all columns in a relational database must be declared upon a defined domain</dd>
- <dl>
  <dt>Entity Integrity</dt>
  <dd>Ensuring that each row of a table has a unique and non-null primary key value</dd>
- <dl>
  <dt>Relational Integrity</dt>
  <dd>If a value of one attribute of a relation references a value of another attribute, then the referenced value must exist</dd>

In [4]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

#### _Domain_

In [9]:
%%sql
SELECT *
FROM COURSE_CATALOGS

 * sqlite:///CourseData.db
Done.

[]

In [17]:
%%sql
SELECT COUNT (CatID), DISTINCT COUNT (CatID)
FROM COURSE_CATALOGS ;

 * sqlite:///CourseData.db
Done.

[(0,)]

#### _Entity_

In [ ]:
## queries checking

#### _Relational_

In [ ]:
## queries to ensure