# Integrity Check
1. <dl>
  <dt>Domain Integrity</dt>
  <dd>Specifies that all columns in a relational database must be declared upon a defined domain</dd>
- <dl>
  <dt>Entity Integrity</dt>
  <dd>Ensuring that each row of a table has a unique and non-null primary key value</dd>
- <dl>
  <dt>Relational Integrity</dt>
  <dd>If a value of one attribute of a relation references a value of another attribute, then the referenced value must exist</dd>

In [12]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

#### _Entity Integrity_

In [17]:
%%sql
SELECT DISTINCT COUNT(*) AS DistinctCount, COUNT(*) as Count
FROM IMPORT_CATALOGS;

 * sqlite:///CourseData.db
Done.

[(4440, 4440)]

In [19]:
%%sql
SELECT DISTINCT COUNT(CatYear), COUNT(CatYear)
FROM COURSE_CATALOGS;

 * sqlite:///CourseData.db
Done.

[(4440, 4440)]

In [10]:
%%sql
SELECT DISTINCT COUNT (*) AS DistinctCount, COUNT (*) as Count
FROM IMPORT_COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[(317321, 317321)]

In [11]:
%%sql
SELECT DISTINCT COUNT (*) AS DistinctCount, COUNT (*) as Count
FROM IMPORT_COURSES;

 * sqlite:///CourseData.db
Done.

[(15937, 15937)]

#### _Relational_

In [ ]:
## queries to ensure