In [2]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db
## Copied original course data and renamed course data warehouse

'Connected: @CourseDataWarehouse.db'

In [5]:
%%sql
SELECT COUNT(act)
FROM COURSES

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: COURSES [SQL: 'SELECT COUNT(act)\nFROM COURSES'] (Background on this error at: http://sqlalche.me/e/e3q8)

# _Fun Queries_


   ### 1. insert..

### 2. insert