In [1]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db
## Copied original course data and renamed course data warehouse

'Connected: @CourseDataWarehouse.db'

In [2]:
%%sql 
/* Deleting relational database tables from CourseDataWarehouse.db */
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
SELECT COUNT(act)
FROM COURSES

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) no such table: COURSES [SQL: 'SELECT COUNT(act)\nFROM COURSES'] (Background on this error at: http://sqlalche.me/e/e3q8)

# _Fun Queries_


   ### 1. insert..

In [16]:
%%sql
SELECT DISTINCT program_code, FName
FROM COURSES_WH
    JOIN Faculty_WH USING (FID)
    JOIN Programs_WH USING (PID);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

### 2. insert

In [21]:
%%sql
SELECT FName
FROM FACULTY_WH
LIMIT(10);

 * sqlite:///CourseDataWarehouse.db
Done.

[('Michael P.  Coyne',),
 ('Rebecca I.  Bloch',),
 ('Paul   Caster',),
 ('Jo Ann   Drusbosky',),
 ('Arleen N.  Kardos',),
 ('Scott M  Brenner',),
 ('Kevin C.  Cassidy',),
 ('Bruce   Bradford',),
 ('Milo W.  Peck',),
 ('Stephen E.  Yost',)]

In [4]:
import pandas as pd
import sqlite3

In [5]:
%load_ext sql
connWH = sqlite3.connect('CourseDataWarehouse2.db')

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
/* Deleting relational database tables from CourseDataWarehouse.db */
DROP TABLE IF EXISTS IMPORT_CATALOGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_COURSES;

In [ ]:
%%sql
vacuum;