In [11]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db
## Copied original course data and renamed course data warehouse

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseDataWarehouse.db'

In [12]:
%%sql 
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

In [15]:
%%sql
CREATE TABLE LOCATION (
    LocationID INTEGER PRIMARY KEY
    ROOM TEXT NOT NULL,
    SCHOOL TEXT NOT NULL,
    PROGRAM_CODE TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) near "ROOM": syntax error [SQL: 'CREATE TABLE LOCATION (\n    LocationID INTEGER PRIMARY KEY\n    ROOM TEXT NOT NULL,\n    SCHOOL TEXT NOT NULL,\n    PROGRAM_CODE TEXT NOT NULL\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)