In [2]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [3]:
%%sql 
DROP TABLE IF EXISTS CATALOG;

 * sqlite:///CourseData.db
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS CourseMeetings;

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS Courses;

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
CREATE TABLE CATALOG (
    catalog_id TEXT PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits DECIMAL NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [ ]:
%%sql