## Loading sql and the Data Warehouse

In [1]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [2]:
import pandas as pd
import sqlite3
connWH = sqlite3.connect('CourseDataWarehouse.db')

### Dropping tables to avoid duplicates

In [3]:
%%sql 
DROP TABLE IF EXISTS PROGRAMS;
DROP TABLE IF EXISTS LOCATIONS;
DROP TABLE IF EXISTS TIMES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Creating the Dimension tables for the Star Schema

In [4]:
%%sql
CREATE TABLE PROGRAMS (
    PID INTEGER NOT NULL PRIMARY KEY,
    program_name TEXT NOT NULL,
    program_code VARCHAR NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [5]:
%%sql
CREATE TABLE LOCATIONS (
    LID INTEGER PRIMARY KEY,
    Building TEXT NOT NULL,
    Room TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [7]:
%%sql 
CREATE TABLE TIMES (
    TID INTEGER NOT NULL PRIMARY KEY,
    Day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,   
    Term TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql 
CREATE TABLE FACULTY (
    FID  INTEGER NOT NULL PRIMARY KEY,
    FName TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [9]:
%%sql
CREATE TABLE CATALOGS (
    CatID INTEGER PRIMARY KEY,
    CourseCode VARCHAR NOT NULL,
    Credits TEXT NOT NULL,
    Prereq TEXT,
    Corereq TEXT,
    Fees INTEGER,
    Description TEXT,
    Attributes TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

### Creating the fact table of the Star Schema (COURSES)

In [11]:
%%sql
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Title TEXT NOT NULL,
    Section VARCHAR NOT NULL,
    Act INTEGER,
    Cap INTEGER,
    Rem INTEGER, 
    AvgCap INTEGER,
    NumClasses INTEGER,
    ClassSizePerPrgm INTEGER,
    PID INTEGER NOT NULL,
    LID INTEGER NOT NULL,
    TID INTEGER NOT NULL,
    FID INTEGER NOT NULL,
    CatID INTEGER NOT NULL,
    FOREIGN KEY (PID) REFERENCES PROGRAMS (PID),
    FOREIGN KEY (LID) REFERENCES LOCATIONS (LID),
    FOREIGN KEY (TID) REFERENCES TIMES (TID),
    FOREIGN KEY (FID) REFERENCES FACULTY (FID),
    FOREIGN KEY (CatID) REFERENCES CATALOGS (CatID)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

###

In [ ]:
%%sql

-- Which professor teaches CRN 70384?--

SELECT CRN, Instructor
FROM COURSES
JOIN INSTRUCTOR USING InstructorID