# Integrity Check
1. <dl>
  <dt>Domain Integrity</dt>
  <dd>Specifies that all columns in a relational database must be declared upon a defined domain</dd>
- <dl>
  <dt>Entity Integrity</dt>
  <dd>Ensuring that each row of a table has a unique and non-null primary key value</dd>
- <dl>
  <dt>Relational Integrity</dt>
  <dd>If a value of one attribute of a relation references a value of another attribute, then the referenced value must exist</dd>

In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

#### _Entity Integrity_

In [2]:
%%sql
/* Testing the entity integrity of CATALOGS table */

SELECT DISTINCT COUNT(CatID), COUNT(CatYear), COUNT(CatID)
FROM CATALOGS;

 * sqlite:///CourseData.db
Done.

[(4440, 4440, 4440)]

In [3]:
%%sql
/* Testing the entity integrity of COURSES table */

SELECT DISTINCT COUNT(CID), COUNT(crn), COUNT(CID)
FROM COURSES;

 * sqlite:///CourseData.db
Done.

[(83826, 83826, 83826)]

In [5]:
%%sql
/* Testing the entity integrity of COURSE_MEETINGS table */

SELECT DISTINCT COUNT(CMID), COUNT(location), COUNT(CMID)
FROM COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[(311141, 311141, 311141)]

In [6]:
%%sql
/* Testing the entity integrity of PROGRAMS table */

SELECT DISTINCT COUNT(PID), COUNT(program_code), COUNT(PID)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(83, 83, 83)]

In [7]:
%%sql
/* Testing the entity integrity of FACULTY table */

SELECT DISTINCT COUNT(FID), COUNT(FName), COUNT(FID)
FROM FACULTY;

 * sqlite:///CourseData.db
Done.

[(1104, 1104, 1104)]

In [12]:
%%sql
SELECT DISTINCT FName
FROM FACUlTY
Limit (10);

 * sqlite:///CourseData.db
Done.

[('Michael P.  Coyne',),
 ('Rebecca I.  Bloch',),
 ('Paul   Caster',),
 ('Jo Ann   Drusbosky',),
 ('Arleen N.  Kardos',),
 ('Scott M  Brenner',),
 ('Kevin C.  Cassidy',),
 ('Bruce   Bradford',),
 ('Milo W.  Peck',),
 ('Stephen E.  Yost',)]

In [30]:
%%sql
SELECT *
FROM COURSES
LIMIT 50;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'Fall2014', 'Introduction to Financial Accounting', 'C01', 0, 31, -31, 1, 'AC 0011'),
 (2, 70385, 'Fall2014', 'Introduction to Financial Accounting', 'C02', 0, 31, -31, 1, 'AC 0011'),
 (3, 70382, 'Fall2014', 'Introduction to Financial Accounting', 'C03', 0, 31, -31, 1, 'AC 0011'),
 (4, 70291, 'Fall2014', 'Introduction to Financial Accounting', 'C04', 0, 29, -29, 2, 'AC 0011'),
 (5, 70350, 'Fall2014', 'Introduction to Financial Accounting', 'C05', 0, 30, -30, 2, 'AC 0011'),
 (6, 70381, 'Fall2014', 'Introduction to Financial Accounting', 'C06', 0, 31, -31, 2, 'AC 0011'),
 (7, 70383, 'Fall2014', 'Introduction to Financial Accounting', 'G', 30, 31, -1, 3, 'AC 0011'),
 (8, 70391, 'Fall2014', 'Introduction to Financial Accounting', 'H', 30, 32, -2, 4, 'AC 0011'),
 (9, 71105, 'Fall2014', 'Introduction to Financial Accounting', 'I', 30, 33, -3, 4, 'AC 0011'),
 (10, 71123, 'Fall2014', 'Introduction to Financial Accounting', 'J', 30, 32, -2, 4, 'AC 0011'),
 (11, 71208, 'Fall2014', 'Introduction to Financial Accounting', 'K', 30, 34, -4, 4, 'AC 0011'),
 (12, 71763, 'Fall2014', 'Introduction to Financial Accounting', 'L', 30, 31, -1, 5, 'AC 0011'),
 (13, 72615, 'Fall2014', 'Introduction to Financial Accounting', 'M', 30, 31, -1, 5, 'AC 0011'),
 (14, 72616, 'Fall2014', 'Introduction to Financial Accounting', 'N', 30, 26, 4, 6, 'AC 0011'),
 (15, 70387, 'Fall2014', 'Introduction to Financial Accounting', 'O', 30, 31, -1, 7, 'AC 0011'),
 (16, 70292, 'Fall2014', 'Introduction to Management Accounting', 'A', 30, 17, 13, 8, 'AC 0012'),
 (17, 70070, 'Fall2014', 'Intermediate Accounting I', 'A', 28, 28, 0, 9, 'AC 0203'),
 (18, 70071, 'Fall2014', 'Intermediate Accounting I', 'B', 28, 28, 0, 9, 'AC 0203'),
 (19, 73161, 'Fall2014', 'Intermediate Accounting I', 'D', 17, 16, 1, 9, 'AC 0203'),
 (20, 73162, 'Fall2014', 'Intermediate Accounting I', 'E', 24, 22, 2, 9, 'AC 0203'),
 (21, 70601, 'Fall2014', 'Intermediate Accounting II', 'A', 10, 12, -2, 10, 'AC 0204'),
 (22, 70360, 'Fall2014', 'Intermediate Accounting II', 'AAA', 10, 1, 9, 10, 'AC 0204'),
 (23, 71437, 'Fall2014', 'Advanced Accounting', 'A', 24, 27, -3, 11, 'AC 0310'),
 (24, 71439, 'Fall2014', 'Cost Management', 'A', 10, 15, -5, 8, 'AC 0320'),
 (25, 70797, 'Fall2014', 'Cost Management', 'AAA', 10, 6, 4, 8, 'AC 0320'),
 (26, 70307, 'Fall2014', 'Cost Management', 'B', 28, 27, 1, 8, 'AC 0320'),
 (27, 70283, 'Fall2014', 'Auditing', 'A', 25, 28, -3, 3, 'AC 0330'),
 (28, 72064, 'Fall2014', 'Auditing', 'B', 25, 23, 2, 3, 'AC 0330'),
 (29, 71120, 'Fall2014', 'Federal Income Taxation I', 'A', 10, 16, -6, 12, 'AC 0343'),
 (30, 70940, 'Fall2014', 'Federal Income Taxation I', 'AAA', 10, 7, 3, 12, 'AC 0343'),
 (31, 70072, 'Fall2014', 'Federal Income Taxation I', 'B', 28, 29, -1, 12, 'AC 0343'),
 (32, 71107, 'Fall2014', 'Municipal and Not-for-Profit Accounting', 'A', 15, 8, 7, 6, 'AC 0380'),
 (33, 73069, 'Fall2014', 'Municipal and Not-for-Profit Accounting', 'AAA', 5, 1, 4, 6, 'AC 0380'),
 (34, 72710, 'Fall2014', 'Internship', 'A', 0, 5, -5, 13, 'AC 0391'),
 (35, 71227, 'Fall2014', 'Internship', 'A', 0, 3, -3, 13, 'AC 0392'),
 (36, 72335, 'Fall2014', 'Introduction to Accounting', 1, 25, 17, 8, 14, 'AC 0400'),
 (37, 72336, 'Fall2014', 'Accounting Information for Decision-Making', 1, 20, 25, -5, 14, 'AC 0500'),
 (38, 72337, 'Fall2014', 'Issues in Accounting Ethics', 1, 13, 16, -3, 15, 'AC 0570'),
 (39, 72338, 'Fall2014', 'Issues in Accounting Ethics', 2, 13, 15, -2, 15, 'AC 0570'),
 (40, 72339, 'Fall2014', 'Issues in Accounting Ethics', 3, 13, 15, -2, 16, 'AC 0570'),
 (41, 72340, 'Fall2014', 'Research on Contemporary Issues in Accounting', 1, 12, 12, 0, 16, 'AC 0590'),
 (42, 72341, 'Fall2014', 'Research on Contemporary Issues in Accounting', 2, 12, 13, -1, 16, 'AC 0590'),
 (43, 73141, 'Fall2014', 'Research on Contemporary Issues in Accounting', 3, 12, 12, 0, 16, 'AC 0590'),
 (44, 73082, 'Fall2014', 'Roots of American Culture', 'A', 25, 12, 13, 17, 'AS 0200'),
 (45, 73214, 'Fall2014', 'Critical Issues/Amer Studies', 1, 15, 5, 10, 18, 'AS 0400'),
 (46, 73340, 'Fall2014', 'American Studies Graduate Project', 1, 1, 1, 0, 19, 'AS 0404'),
 (47, 73253, 'Fall2014', 'American Popular Entertainments and Social History', 1, 15, 3, 12, 20, 'AS 0453'),
 (48, 73293, 'Fall2014', 'Independent Study', 1, 0, 1, -1, 17, 'AS 0499'),
 (49, 71173, 'Fall2014', 'Introduction to Four-Field Anthropology', 'A', 30, 30, 0, 21, 'AY 0010'),
 (50, 71174, 'Fall2014', 'Introduction to Four-Field Anthropology', 'B', 30, 28, 2, 21, 'AY 0010')]

In [31]:
%%sql
SELECT *
FROM COURSE_MEETINGS
WHERE CRN = '70384'
Limit 30;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 (2, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 (3, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 (4, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 (5, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00'),
 (6, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-19T08:00:00', '2014-09-19T09:15:00'),
 (7, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-23T08:00:00', '2014-09-23T09:15:00'),
 (8, 70384, 'Fall2014', 'DSB 105', 'F', '2014-09-26T08:00:00', '2014-09-26T09:15:00'),
 (9, 70384, 'Fall2014', 'DSB 105', 'T', '2014-09-30T08:00:00', '2014-09-30T09:15:00'),
 (10, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-03T08:00:00', '2014-10-03T09:15:00'),
 (11, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-07T08:00:00', '2014-10-07T09:15:00'),
 (12, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-10T08:00:00', '2014-10-10T09:15:00'),
 (13, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-17T08:00:00', '2014-10-17T09:15:00'),
 (14, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-21T08:00:00', '2014-10-21T09:15:00'),
 (15, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-24T08:00:00', '2014-10-24T09:15:00'),
 (16, 70384, 'Fall2014', 'DSB 105', 'T', '2014-10-28T08:00:00', '2014-10-28T09:15:00'),
 (17, 70384, 'Fall2014', 'DSB 105', 'F', '2014-10-31T08:00:00', '2014-10-31T09:15:00'),
 (18, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-04T08:00:00', '2014-11-04T09:15:00'),
 (19, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-07T08:00:00', '2014-11-07T09:15:00'),
 (20, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-11T08:00:00', '2014-11-11T09:15:00'),
 (21, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-14T08:00:00', '2014-11-14T09:15:00'),
 (22, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-18T08:00:00', '2014-11-18T09:15:00'),
 (23, 70384, 'Fall2014', 'DSB 105', 'F', '2014-11-21T08:00:00', '2014-11-21T09:15:00'),
 (24, 70384, 'Fall2014', 'DSB 105', 'T', '2014-11-25T08:00:00', '2014-11-25T09:15:00'),
 (25, 70384, 'Fall2014', 'DSB 105', 'T', '2014-12-02T08:00:00', '2014-12-02T09:15:00'),
 (26, 70384, 'Fall2014', 'DSB 105', 'F', '2014-12-05T08:00:00', '2014-12-05T09:15:00')]