In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS COURSE_CATALOGS;

 * sqlite:///CourseData.db
Done.

[]

In [3]:
%%sql 
DROP TABLE IF EXISTS COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
DROP TABLE IF EXISTS FACULTY;

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
DROP TABLE IF EXISTS IMPORT_CATALOGS;

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql
CREATE TABLE COURSE_CATALOGS (
    CatID INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits DECIMAL NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql 
CREATE TABLE PROGRAMS (
    PID INTEGER PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    CatID INTEGER NOT NULL,
    FOREIGN KEY (CatID) REFERENCES COURSE_CATALOGS (CatID)
);

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql 
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    crn INTEGER NOT NULL,
    term TEXT NOT NULL,
    section INTEGER NOT NULL,
    title TEXT NOT NULL,
    primary_instructor TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL,
    CatID INTEGER NOT NULL,
    FOREIGN KEY (CatID) REFERENCES COURSE_CATALOGS (CatID)
);

 * sqlite:///CourseData.db
Done.

[]

In [12]:
%%sql
CREATE TABLE FACULTY (
    FID INTEGER PRIMARY KEY,
    primary_instructor TEXT NOT NULL,
    CID INTEGER NOT NULL,
    FOREIGN KEY (CID) REFERENCES COURSES (CID)
);

 * sqlite:///CourseData.db
Done.

[]

In [14]:
%%sql
CREATE TABLE COURSE_MEETINGS (
    CMID INTEGER PRIMARY KEY,
    crn INTEGER NOT NULL,
    term TEXT NOT NULL,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    CID INTEGER NOT NULL,
    FOREIGN KEY (CID) REFERENCES COURSES (CID)
);

 * sqlite:///CourseData.db
Done.

[]