In [8]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db
## Copied original course data and renamed course data warehouse

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseDataWarehouse.db'

In [9]:
%%sql 
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

In [10]:
%%sql
--Creating Dimension Table--

CREATE TABLE PROGRAM (
    PID INTEGER NOT NULL PRIMARY KEY,
    ProgName TEXT,
    ProgCode VARCHAR
);

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) table PROGRAM already exists [SQL: '--Creating Dimension Table--\n\nCREATE TABLE PROGRAM (\n    PID INTEGER NOT NULL PRIMARY KEY,\n    ProgName TEXT,\n    ProgCode VARCHAR\n);'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [13]:
%%sql
CREATE TABLE LOCATION (
    LocationID INTEGER PRIMARY KEY,
    ROOM TEXT NOT NULL,
    SCHOOL TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [15]:
%%sql 

-- Dimension Table TIMELINE--

CREATE TABLE TIMELINE (
    TimeID INTEGER NOT NULL PRIMARY KEY,
    Day TEXT,
    Start,
    End,   
    Term TEXT NOT NULL,
    Year
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [17]:
%%sql 

-- Creating Dimension Table for Faculty--

CREATE TABLE INSTRUCTOR (
    InstructorID  INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [20]:
%%sql

-- Creating Fact Table COURSE--

CREATE TABLE COURSE (
    CRN INTEGER NOT NULL,
    Section VARCHAR NOT NULL,
    Term TEXT NOT NULL,
    Act INTEGER,
    Cap INTEGER,
    AVGCap INTEGER,
    Rem INTEGER,
    PID INTEGER,
    CatID INTEGER,
    InstructorID INTEGER,
    FOREIGN KEY (PID) REFERENCES PROGRAM (PID),
    FOREIGN KEY (CatID) REFERENCES PROGRAM (CatID),
    FOREIGN KEY (InstructorID) REFERENCES PROGRAM (InsructorID)
    
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [26]:
%%sql

-- Creating Dimension table for Catalog--

CREATE TABLE CATALOG (
    CatID INTEGER PRIMARY KEY,
    CourseTitle TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prereq TEXT,
    Corereq TEXT,
    Fees INTEGER,
    PID integer,
    FOREIGN KEY (PID) REFERENCES Program (PID)
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [24]:
%%sql
SELECT *
FROM COURSE

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [27]:
%%sql 
sqlite:///CourseData.db

'Connected: @CourseData.db'

In [30]:
%%sql
SELECT *
FROM COURSES
LIMIT (10);

 * sqlite:///CourseData.db
   sqlite:///CourseDataWarehouse.db
Done.

[(1, 70384, 'Fall2014', 'Introduction to Financial Accounting', 'C01', 0, 31, -31, 3, 1, 'AC 0011'),
 (2, 70385, 'Fall2014', 'Introduction to Financial Accounting', 'C02', 0, 31, -31, 3, 1, 'AC 0011'),
 (3, 70382, 'Fall2014', 'Introduction to Financial Accounting', 'C03', 0, 31, -31, 3, 1, 'AC 0011'),
 (4, 70291, 'Fall2014', 'Introduction to Financial Accounting', 'C04', 0, 29, -29, 3, 2, 'AC 0011'),
 (5, 70350, 'Fall2014', 'Introduction to Financial Accounting', 'C05', 0, 30, -30, 3, 2, 'AC 0011'),
 (6, 70381, 'Fall2014', 'Introduction to Financial Accounting', 'C06', 0, 31, -31, 3, 2, 'AC 0011'),
 (7, 70383, 'Fall2014', 'Introduction to Financial Accounting', 'G', 30, 31, -1, 3, 3, 'AC 0011'),
 (8, 70391, 'Fall2014', 'Introduction to Financial Accounting', 'H', 30, 32, -2, 3, 4, 'AC 0011'),
 (9, 71105, 'Fall2014', 'Introduction to Financial Accounting', 'I', 30, 33, -3, 3, 4, 'AC 0011'),
 (10, 71123, 'Fall2014', 'Introduction to Financial Accounting', 'J', 30, 32, -2, 3, 4, 'AC 0011')]

In [ ]:
%%sql

-- Which professor teaches CRN 70384?--

SELECT CRN, Instructor
FROM COURSES
JOIN INSTRUCTOR USING InstructorID