# Integrity Check
1. <dl>
  <dt>Domain Integrity</dt>
  <dd>Specifies that all columns in a relational database must be declared upon a defined domain</dd>
- <dl>
  <dt>Entity Integrity</dt>
  <dd>Ensuring that each row of a table has a unique and non-null primary key value</dd>
- <dl>
  <dt>Relational Integrity</dt>
  <dd>If a value of one attribute of a relation references a value of another attribute, then the referenced value must exist</dd>

In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

## **Entity Integrity**

### _CATALOGS_

In [5]:
%%sql
SELECT DISTINCT COUNT(CourseCode), COUNT(CatID), COUNT(CourseCode)
FROM CATALOGS;

 * sqlite:///CourseData.db
Done.

[(4440, 4440, 4440)]

### _COURSES_

In [11]:
%%sql
SELECT DISTINCT COUNT(CRN), COUNT(CID), COUNT(CRN)
FROM COURSES;

 * sqlite:///CourseData.db
Done.

[(15243, 15243, 15243)]

### _COURSE MEETINGS_

In [7]:
%%sql
SELECT DISTINCT COUNT(location), COUNT(CMID), COUNT(location)
FROM COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[(304902, 304902, 304902)]

### _PROGRAMS_

In [10]:
%%sql
SELECT DISTINCT COUNT(program_code), COUNT(PID), COUNT(program_code)
FROM PROGRAMS;

 * sqlite:///CourseData.db
Done.

[(83, 83, 83)]

### _FACULTY_

In [9]:
%%sql
SELECT DISTINCT COUNT(FName), COUNT(FID), COUNT(FName)
FROM FACULTY;

 * sqlite:///CourseData.db
Done.

[(1104, 1104, 1104)]

## Relational Integrity

In [3]:
%%sql
SELECT CRN, title, act, rem
FROM COURSES
WHERE rem > 0
GROUP BY crn
LIMIT (10);

 * sqlite:///CourseData.db
Done.

[(10894, 'Human Communication Theories', 14, 6),
 (10895, 'Intercultural Communication', 11, 9),
 (10896, 'Family Communication', 12, 3),
 (10898, 'Introduction to Microeconomics', 9, 11),
 (10901, 'Business Writing', 8, 12),
 (10902, 'Introduction to Probability and Statistics', 16, 4),
 (10904, 'United States Foreign Policy', 19, 1),
 (10906, 'Criminal Justice System Seminar', 11, 4),
 (10907, 'Methods for School Library Media', 10, 6),
 (10908, 'Leadership', 3, 12)]