In [2]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db
## Copied original course data and renamed course data warehouse

'Connected: @CourseDataWarehouse.db'

In [3]:
%%sql 
/* Deleting relational database tables from CourseDataWarehouse.db */
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS PROGRAMS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.

[]

# _Fun Queries_


   ### 1. insert..

### 2. insert

In [4]:
%%sql
/* Deleting relational database tables from CourseDataWarehouse.db */
DROP TABLE IF EXISTS IMPORT_CATALOGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_COURSES;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.

[]

In [5]:
%%sql
vacuum;

 * sqlite:///CourseDataWarehouse.db
Done.

[]