In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql 
DROP TABLE IF EXISTS CATALOGS;

 * sqlite:///CourseData.db
Done.

[]

In [3]:
%%sql 
DROP TABLE IF EXISTS COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.

[]

In [4]:
%%sql 
DROP TABLE IF EXISTS COURSES;

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql
DROP TABLE IF EXISTS FACULTY;

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
CREATE TABLE CATALOGS (
    CID INTEGER PRIMARY KEY,
    catalog_id TEXT NOT NULL,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL,
    course_title TEXT NOT NULL,
    credits DECIMAL NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql 
CREATE TABLE COURSE_MEETINGS (
    crn INTEGER PRIMARY KEY,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    start VARCHAR (50) NOT NULL,
    end VARCHAR (50) NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql 
CREATE TABLE COURSES (
    crn INTEGER PRIMARY KEY,
    term TEXT NOT NULL,
    catalog_id TEXT NOT NULL,
    section INTEGER NOT NULL,
    credits INTEGER NOT NULL,
    title TEXT NOT NULL,
    primary_instructor TEXT NOT NULL,
    cap INTEGER NOT NULL,
    act INTEGER NOT NULL,
    rem INTEGER NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [11]:
%%sql
CREATE TABLE FACULTY (
    FID INTEGER PRIMARY KEY,
    primary_instructor TEXT NOT NULL,
    term TEXT NOT NULL,
    crn INTEGER NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]