In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
import pandas as pd
import sqlite3

In [3]:
%%sql 
DROP TABLE IF EXISTS CATALOGS;
DROP TABLE IF EXISTS COURSE_MEETINGS;
DROP TABLE IF EXISTS COURSES;
DROP TABLE IF EXISTS FACULTY;
DROP TABLE IF EXISTS PROGRAMS;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.
Done.

[]

In [4]:
%%sql
DROP TABLE IF EXISTS IMPORT_CATALOGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_COURSES;

 * sqlite:///CourseData.db
Done.
Done.
Done.

[]

In [5]:
%%sql 
CREATE TABLE PROGRAMS (
    PID INTEGER PRIMARY KEY,
    program_name TEXT NOT NULL,
    program_code TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
CREATE TABLE FACULTY (
    FID INTEGER PRIMARY KEY,
    FName TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
CREATE TABLE CATALOGS (
    CatID INTEGER PRIMARY KEY,
    CourseCode TEXT,
    title TEXT NOT NULL,
    credits INTEGER NOT NULL,
    prereqs TEXT,
    coreqs TEXT,
    fees INTEGER,
    attributes TEXT,
    description TEXT,
    CatYear INTEGER NOT NULL,
    PID INTEGER NOT NULL,
    FOREIGN KEY (PID) REFERENCES PROGRAMS (PID)
);

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql 
CREATE TABLE COURSES (
    CID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    term TEXT NOT NULL,
    title TEXT,
    section INTEGER NOT NULL,
    cap INTEGER,
    act INTEGER,
    rem INTEGER,
    credits INTEGER NOT NULL,
    FID INTEGER NOT NULL,
    CourseCode INTEGER,
    FOREIGN KEY (FID) REFERENCES FACULTY (FID)
    FOREIGN KEY (CourseCode) REFERENCES CATALOGS (CourseCode)
);

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql
CREATE TABLE COURSE_MEETINGS (
    CMID INTEGER PRIMARY KEY,
    CRN INTEGER NOT NULL,
    term TEXT NOT NULL,
    location TEXT NOT NULL,
    day TEXT NOT NULL,
    Start TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (CRN) REFERENCES COURSES (CRN)
);

 * sqlite:///CourseData.db
Done.

[]

In [10]:
Cat2017 = pd.read_csv('SourceData/Catalogs/CourseCatalog2017_2018.csv')
Cat2017['CatYear'] = '2017'
Cat2018 = pd.read_csv('SourceData/Catalogs/CourseCatalog2018_2019.csv')
Cat2018['CatYear'] = '2018'
Cat = pd.concat([Cat2017, Cat2018])

In [11]:
conn = sqlite3.connect('CourseData.db')
Cat.to_sql('IMPORT_CATALOGS', conn, if_exists='append', index=False)
Cat.shape

(4440, 11)

In [12]:
CMFall2014 = pd.read_csv('SourceData/Fall2014/course_meetings.csv')
CMFall2015 = pd.read_csv('SourceData/Fall2015/course_meetings.csv')
CMFall2016 = pd.read_csv('SourceData/Fall2016/course_meetings.csv')
CMFall2017 = pd.read_csv('SourceData/Fall2017/course_meetings.csv')
CMFall2018 = pd.read_csv('SourceData/Fall2018/course_meetings.csv')
CMFall = pd.concat([CMFall2014, CMFall2015, CMFall2016, CMFall2017, CMFall2018])

In [13]:
CMSpring2015 = pd.read_csv('SourceData/Spring2015/course_meetings.csv')
CMSpring2016 = pd.read_csv('SourceData/Spring2016/course_meetings.csv')
CMSpring2017 = pd.read_csv('SourceData/Spring2017/course_meetings.csv')
CMSpring2018 = pd.read_csv('SourceData/Spring2018/course_meetings.csv')
CMSpring2019 = pd.read_csv('SourceData/Spring2019/course_meetings.csv')
CMSpringBreak2017 = pd.read_csv('SourceData/SpringBreak2017/course_meetings.csv')
CMSpring = pd.concat([CMSpring2015, CMSpring2016, CMSpring2017, CMSpring2018, CMSpring2019, CMSpringBreak2017])

In [14]:
CMSummer2015 = pd.read_csv('SourceData/Summer2015/course_meetings.csv')
CMSummer2016 = pd.read_csv('SourceData/Summer2016/course_meetings.csv')
CMSummer2017 = pd.read_csv('SourceData/Summer2017/course_meetings.csv')
CMSummer2018 = pd.read_csv('SourceData/Summer2018/course_meetings.csv')
CMSummer = pd.concat([CMSummer2015, CMSummer2016, CMSummer2017, CMSummer2018])

In [15]:
CMWinter2015 = pd.read_csv('SourceData/Winter2015/course_meetings.csv')
CMWinter2016 = pd.read_csv('SourceData/Winter2016/course_meetings.csv')
CMWinter2017 = pd.read_csv('SourceData/Winter2017/course_meetings.csv')
CMWinter2018 = pd.read_csv('SourceData/Winter2018/course_meetings.csv')
CMWinter = pd.concat([CMWinter2015, CMWinter2016, CMWinter2017, CMWinter2018])

In [16]:
CM = pd.concat([CMFall, CMSpring, CMSummer, CMWinter])
CM.to_sql('IMPORT_COURSE_MEETINGS', conn, if_exists='append', index=False)
CM.shape

(317321, 6)

In [17]:
CFall2014 = pd.read_csv('SourceData/Fall2014/courses.csv')
CFall2015 = pd.read_csv('SourceData/Fall2015/courses.csv')
CFall2016 = pd.read_csv('SourceData/Fall2016/courses.csv')
CFall2017 = pd.read_csv('SourceData/Fall2017/courses.csv')
CFall2018 = pd.read_csv('SourceData/Fall2018/courses.csv')
CFall = pd.concat([CFall2014, CFall2015, CFall2016, CFall2017, CFall2018])

In [18]:
CSpring2015 = pd.read_csv('SourceData/Spring2015/courses.csv')
CSpring2016 = pd.read_csv('SourceData/Spring2016/courses.csv')
CSpring2017 = pd.read_csv('SourceData/Spring2017/courses.csv')
CSpring2018 = pd.read_csv('SourceData/Spring2018/courses.csv')
CSpring2019 = pd.read_csv('SourceData/Spring2019/courses.csv')
CSpringBreak2017 = pd.read_csv('SourceData/SpringBreak2017/courses.csv')
CSpring = pd.concat([CSpring2015, CSpring2016, CSpring2017, CSpring2018, CSpring2019, CSpringBreak2017])

In [19]:
CSummer2015 = pd.read_csv('SourceData/Summer2015/courses.csv')
CSummer2016 = pd.read_csv('SourceData/Summer2016/courses.csv')
CSummer2017 = pd.read_csv('SourceData/Summer2017/courses.csv')
CSummer2018 = pd.read_csv('SourceData/Summer2018/courses.csv')
CSummer = pd.concat([CSummer2015, CSummer2016, CSummer2017, CSummer2018])

In [20]:
CWinter2015 = pd.read_csv('SourceData/Winter2015/courses.csv')
CWinter2016 = pd.read_csv('SourceData/Winter2016/courses.csv')
CWinter2017 = pd.read_csv('SourceData/Winter2017/courses.csv')
CWinter2018 = pd.read_csv('SourceData/Winter2018/courses.csv')
CWinter = pd.concat([CWinter2015, CWinter2016, CWinter2017, CWinter2018])

In [21]:
C = pd.concat([CFall, CSpring, CSummer, CWinter])
C.to_sql('IMPORT_COURSES', conn, if_exists='append', index=False)
C.shape

(15937, 12)

In [22]:
%%sql 
INSERT INTO PROGRAMS (program_code, program_name)
SELECT DISTINCT program_code, program_name
FROM IMPORT_CATALOGS;

 * sqlite:///CourseData.db
83 rows affected.

[]

In [23]:
%%sql
INSERT INTO FACULTY (FName)
SELECT DISTINCT primary_instructor
FROM IMPORT_COURSES;

 * sqlite:///CourseData.db
1104 rows affected.

[]

In [24]:
%%sql
INSERT INTO CATALOGS (CourseCode, title, credits, prereqs, coreqs, fees, attributes, description, CatYear, PID)
SELECT DISTINCT catalog_id, course_title, credits, prereqs, coreqs, fees, attributes, description, CatYear, PID
FROM IMPORT_CATALOGS
    JOIN PROGRAMS USING (program_code);

 * sqlite:///CourseData.db
4440 rows affected.

[]

In [25]:
%%sql
INSERT INTO COURSES (term, CRN, title, section, cap, act, rem, credits, FID, CourseCode)
SELECT DISTINCT term, crn, IMPORT_COURSES.title, section, cap, act, rem, IMPORT_COURSES.credits, FID, CourseCode
FROM IMPORT_COURSES
    JOIN FACULTY ON (IMPORT_COURSES.primary_instructor=FACULTY.FName)
    JOIN CATALOGS ON (IMPORT_COURSES.catalog_id=CATALOGS.CourseCode);

 * sqlite:///CourseData.db
15243 rows affected.

[]

In [26]:
%%sql 
INSERT INTO COURSE_MEETINGS (CRN, term, location, day, Start, End)
SELECT DISTINCT COURSES.crn, IMPORT_COURSE_MEETINGS.term, location, day, start, end
FROM IMPORT_COURSE_MEETINGS
    JOIN COURSES ON (IMPORT_COURSE_MEETINGS.crn=COURSES.CRN);

 * sqlite:///CourseData.db
304902 rows affected.

[]

In [27]:
%%sql
DROP TABLE IF EXISTS IMPORT_CATALOGS;
DROP TABLE IF EXISTS IMPORT_COURSE_MEETINGS;
DROP TABLE IF EXISTS IMPORT_COURSES;

 * sqlite:///CourseData.db
Done.
Done.
Done.

[]

In [28]:
%%sql
vacuum;

 * sqlite:///CourseData.db
Done.

[]